* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

h1 {
    font-size: 2.5rem;
    width: 100%;
}

header {
    text-align: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 2em;
    line-height: 1.4;
}

header p {
    font-size: 1.5rem;
    letter-spacing: 0.1ch;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

div {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    width: 75%;
    line-height: 1.4;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

img {
    border-radius: 1em;
    aspect-ratio: auto;
    width: 10rem;
}

h2 {
    font-size: 1.3rem;
}

p {
    color: gray;
}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    section {
        justify-content: space-between;
    }

    .links {
        flex-grow: 4;
    }

    div {
        gap: 2rem;
        width: 95%;
        flex-direction: column;

    }

    img {
        width: 9rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2rem;
    }
}